# NOTE: UNCOMMENT AND PROVIDE API KEY

########################
# OPENROUTER CONFIG
########################
# The following are required for OpenRouter:
# OPENROUTER_KEY={your-api-key} 
# OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
# MODEL_NAME=meta-llama/llama-4-scout:free